.welcome-card {
  display: flex;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: #262638;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 8%;
}

.welcome-card-icon-area {
  background-color: #4e5eba;
  padding: 4.5rem;
  align-items: center;
  justify-content: center;
}

.welcome-card-icon-area i {
  font-size: 4.5rem;
  color: white;
}

.welcome-card-content {
  padding: 2.5rem;
  width: 100%;
}

#tanggal-live {
  font-size: 1.25rem;
  font-weight: 400;
  color: #565fb6;
}

#jam-live {
  font-size: 2.75rem;
  font-weight: 500;
  letter-spacing: 1px;
}